

* {
  margin: 0px;
  padding: 0px;
  /* width:80%; */
  /* color: lawngreen; */
  height: auto;
  text-align: center;
}

body {
  margin: 0% 15% 0% 15%;
  /*border: 1px solid lawngreen;*/
  background-color: #282c34;
  /*min-width: 600px;*/
  font-family: 'Ubuntu', sans-serif;
}

p {
  text-align: justify;
}

header {
  padding: 5% 10%;
  color: lawngreen;
}

header h1 {
  font-size: 7.5vw;
}

footer {
  text-align: center;
  color: lawngreen;
  padding: 10%;
}


.main_wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 25px;
  width: 100%;
  /* padding: 0% 10%; */
}

#main_nav_panel {
  display: inline-block;
  position: relative;
  float: none;
  text-align: center;
  text-decoration: none;
  color: lawngreen;
  font-size: 3vw;
}

#inline_menu a {
  margin: 10px 30px 10px 30px;
}

#side_panel {
  /*grid-column: 1;*/
  grid-row: 1;
  width: auto;
  height: auto;
  text-align: left;
  padding: 15%;
  border: 2px solid blue;
}

#side_panel ul {
  align-content: space-around;
}

#main_content {
  /*grid-column: 2;*/
  grid-row: 2;
  padding: 5%;
  height: auto;
  width: auto;
  font-size: large;
  color: lawngreen;
  background-color: black;
}
#social_panel {
  grid-row: 3;
  /*grid-column: 2;*/
  background-color: firebrick;
  width: auto;
  /*border: 1px red solid;*/
  text-align: center;
  color: lawngreen;
  /* margin: 10px 30px 10px 30px; */
  padding: 10%;
}

#Open {
  grid-row: 4;
  background-color: blue;
  text-align: left;
  color: white;
  padding: 10%;
}


#kontakty {
  grid-row: 5;
  background-color: green;
  color: ghostwhite;
  text-align: left;
  width: auto;
  height: auto;
  font-size: large;
  padding: 10%;
}
