

* {
  margin: 0px;
  padding: 0px;
  /* width:80%; */
  background-color: black;
  color: lawngreen;
  height: auto;
  text-align: center;
}

body {
  margin: 0% 15% 0% 15%;
  border: 1px solid lawngreen;
  font-family: 'Ubuntu', sans-serif;
}

p {
  text-align: justify;
}

header {
  padding: 5% 10%;
}

.main_wrapper {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  width: 100%;
  /* padding: 0% 10%; */
}

#inline_menu {
  grid-row: 1;
  grid-column: 2;
  color: red;
  width: 100%;
  border: 1px red solid;
  text-align: center;
  /* margin: 10px 30px 10px 30px; */
  padding: 1% 5% 1% 5%;
}

# inline_menu a {
  margin: 10px 30px 10px 30px;
}

#side_panel {
  grid-column: 1;
  grid-row: 2;
  width: auto;
  height: auto;
  text-align: left;
  padding: 15%;
  border: 2px solid blue;
}

#side_panel ul {
  align-content: space-around;
}

#main_content {
  grid-column: 2;
  grid-row: 2;
  padding: 5%;
  height: auto;
  width: auto;
  border: 2px solid blue;
}

footer {
  text-align: center;
}
