@media (min-width:992px) {
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 50%;
  }
}

@media (min-width:1200px) {
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 33%;
  }
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
}

